#canvas {
  height:0px;
}

#video {
  height:0px;
}

#result{
  height:480px;
  width: 680px;
}

.result-canvas-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  width: 100%;
}