#canvas {
  height:0px;
}

#video {
  height:0px;
}

.result-canvas-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

#hiddenImage {
  object-fit:contain;
  height:0px;
}